#version 330

uniform mat4 modelViewMatrix;
uniform mat4 projectionMatrix;
uniform mat3 normalMatrix;
uniform mat4 gbufferModelViewInverse;
uniform vec3 chunkOffset;

in vec2 vaUV0;
in vec2 vaUV2;
in vec3 vaPosition;
in vec4 vaColor;
in vec3 vaNormal;

out vec2 fsUV0;
out vec2 fsUV2;
out vec4 fsColor;
out vec3 fsNormal;
out vec3 fsPosition;
out vec2 fsLMCoords;

void main() {
	fsUV0 = vaUV0;
	fsUV2 = vaUV2;
	fsColor = vaColor;
	fsNormal = normalMatrix * vaNormal;
	fsLMCoords = vaUV2 * 1.0 / 256.0 + 1.0 / 32.0;
	gl_Position = projectionMatrix * modelViewMatrix * vec4(vaPosition + chunkOffset, 1.0);
}