uniform {
    colortex0 : sampler2D,
    colortex1 : sampler2D
}

in {
    fsUV0 : vec2,
    fsUV2 : vec2,
    fsColor : vec4,
    fsNormal : vec3<View>,
    fsPosition : vec3<View>,
    fsLMCoords : vec2
}

out {
    color : @loc(0) vec4
}

fn main() {
    for (a=2.0 until 0.0 dec=0.1) {}
    for (i=0.0 to 1.0) {}
}