uniform {
    colortex0 : sampler2D,
    colortex1 : sampler2D
}

in {
    fsUV0 : vec2,
    fsUV2 : vec2,
    fsColor : vec4,
    fsNormal : vec3<View>,
    fsPosition : vec3<View>,
    fsLMCoords : vec2
}

out {
    color : @loc(0) vec4
}

fn main() {
    for (i=(0.5 + 0.5)..(1.0 + 2.0)) {
    }
}